body {
  margin: 0;
}

h3 {
  display:inline;
}
#header {
  background-color: #F3F1F5;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 5px;
}

.titles{
  padding: 0 7%;
}

.header-title{
  display: inline-block;
}

.sub-headings-div {
  display: inline;
  padding-left: 100px;
}

.body-container {
  margin:0 7%;
}

.body-title {
  margin: 0;
  padding:30px 0;
}

.compose-heading{
  margin: 0;
  padding-bottom: 15px;
}
.text-field {
  width: 100%;
  padding-top: 1px;
}

.text-field.text-blog {
  height: 100px;
}

.submit-button{
  font-weight: bold;
}

.blog-title{
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
